<nav>
  <ul id="navbar">
    <li class="nav-item"><a class="active" href="#home">Book List</a></li>
    <li class="nav-item" style="float:right"><a href="#sign-up">Sign Up</a></li>
    <li class="nav-item" style="float:right"><a href="#sign-in">Sign In</a></li>
  </ul>
</nav>
<div id="wrapper">

  <h1 id="heading">My Reading List</h1>
  <div id="user-input">
    <form id="add-book">
      <input name="book" id="book"></input>
      <input type="submit" value="Read This!"></input>
    </form>
  </div>

  <div id="content">
    <div id="to-read" class="db-items">
      <ul>
        {{#each books}}
        {{#unless completed}}
        <li>
          <p class="book listed-book" data-val="{{this}}">
            <button data-id="{{this.id}}" class="delete-book">X</button>
            {{this.title}}
            <button data-id="{{this.id}}" class="finished-book">Finished</button>
          </p>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div id="completed" class="db-items">
      <ul>
        {{#each books}}
        {{#if this.completed}}
        <li>
          <p class="book read-book" data-val="{{this}}">
            <button data-id="{{this.id}}" class=" delete-book">X</button>
            {{this.title}}
          </p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>